# Ecommerce Purchases Exercise

In this Exercise you will be given some Fake Data about some purchases done through Amazon! Just go ahead and follow the directions and try your best to answer the questions and complete the tasks. Feel free to reference the solutions. Most of the tasks can be solved in different ways. For the most part, the questions get progressively harder.

Please excuse anything that doesn't make "Real-World" sense in the dataframe, all the data is fake and made-up.

Also note that all of these questions can be answered with one line of code.
____
**Import pandas and read in the Ecommerce Purchases csv file and set it to a DataFrame called ecom.**

In [53]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [54]:
df = pd.read_csv('Ecommerce Purchases.csv')

**Check the head of the DataFrame.**

In [55]:
#write your code here

In [56]:
df.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

**How many rows and columns are there?**

In [57]:
#write your code here

In [58]:
 df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

**What is the average Purchase Price?**

In [59]:
#write your code here

In [60]:
 df['Purchase Price'].mean()

50.34730200000025

**What were the highest and lowest purchase prices?**

In [61]:
#write your code here

In [62]:
df['Purchase Price'].max()

99.99

In [63]:
#write your code here

In [64]:
df['Purchase Price'].min()

0.0

**How many people have English 'en' as their Language of choice on the website?**

In [65]:
#write your code here

In [66]:
 df.loc[df['Language']=='en'].count()

Address             1098
Lot                 1098
AM or PM            1098
Browser Info        1098
Company             1098
Credit Card         1098
CC Exp Date         1098
CC Security Code    1098
CC Provider         1098
Email               1098
Job                 1098
IP Address          1098
Language            1098
Purchase Price      1098
dtype: int64

**How many people have the job title of "Lawyer" ?**

In [67]:
#write your code here

In [68]:
 df.loc[df['Job']=='Lawyer'].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 470 to 9979
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           30 non-null     object
 1   Lot               30 non-null     object
 2   AM or PM          30 non-null     object
 3   Browser Info      30 non-null     object
 4   Company           30 non-null     object
 5   Credit Card       30 non-null     int64
 6   CC Exp Date       30 non-null     object
 7   CC Security Code  30 non-null     int64
 8   CC Provider       30 non-null     object
 9   Email             30 non-null     object
 10  Job               30 non-null     object
 11  IP Address        30 non-null     object
 12  Language          30 non-null     object
 13  Purchase Price    30 non-null     float64
dtypes: float64(1), int64(2), object(11)
memory usage: 3.5+ KB

**How many people made the purchase during the AM and how many people made the purchase during PM ?**

**(Hint: Check out [value_counts()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) ) **

In [69]:
#write your code here

In [70]:
 df['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

**What are the 5 most common Job Titles?**

In [71]:
#write your code here

In [72]:
 df['Job'].value_counts().head()

Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Research officer, political party    27
Designer, jewellery                  27
Name: Job, dtype: int64

**Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction?**

In [73]:
#write your code here

In [74]:
df['Purchase Price'].loc[df['Lot']=='90 WT']

513    75.1
Name: Purchase Price, dtype: float64

**What is the email of the person with the following Credit Card Number: 4926535242672853**

In [75]:
#write your code here

In [76]:
 df['Email'].loc[df['Credit Card']==4926535242672853]

1234    bondellen@williams-garza.com
Name: Email, dtype: object

**How many people have American Express as their Credit Card Provider *and* made a purchase above $95?**

In [77]:
#write your code here
df['Purchase Price'] = df['Purchase Price'].astype(float)
df['Purchase Price'].dtype

dtype('float64')

In [91]:
a = df.loc[(df['CC Provider']=='American Express') & (df['Purchase Price'] >= 95)]
len(a)

39

**Hard: How many people have a credit card that expires in 2025?**

In [79]:
#write your code here
df['CC Exp Date'] = df['CC Exp Date'].apply(lambda x:str(x).split('/') if '/' in str(x) else str(x))

In [80]:
df['CC Exp Date'] = df['CC Exp Date'].apply(lambda x:str(x[1]))
df['CC Exp Date'] = df['CC Exp Date'].astype(int)

In [81]:
df['CC Exp Date']

0       20
1       18
2       19
3       24
4       25
        ..
9995    22
9996    25
9997    21
9998    17
9999    19
Name: CC Exp Date, Length: 10000, dtype: int64

In [90]:
df.loc[df['CC Exp Date']==25]

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,25,678,Diners Club / Carte Blanche,gmail.com,Fine artist,24.140.33.94,es,77.82
5,"7502 Powell Mission Apt. 768\nTravisland, VA 3...",21 XT,PM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_8_5...,Silva-Anderson,30246185196287,25,7169,Discover,gmail.com,Fish farm manager,55.96.152.147,ru,25.15
7,"260 Rachel Plains Suite 366\nCastroberg, WV 24...",96 pG,PM,Mozilla/5.0 (X11; Linux i686) AppleWebKit/5350...,Marshall-Collins,561252141909,25,256,VISA 13 digit,parks.info,Event organiser,224.247.97.150,pt,44.25
13,"118 Melton Via Suite 681\nAlexanderbury, FL 32104",36 bu,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_8...,Keller PLC,4603635169938574,25,557,VISA 16 digit,yahoo.com,"Accountant, chartered public finance",84.212.92.11,it,8.93
15,"31730 Chelsea Crest\nBlakemouth, CT 90395-0620",41 Cj,PM,Opera/8.95.(Windows NT 5.0; en-US) Presto/2.9....,Garcia-Steele,180069437020404,25,404,Diners Club / Carte Blanche,yahoo.com,Retail manager,53.176.235.33,el,71.78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9955,"66539 Potts Forge\nCartershire, AK 58271-5180",37 KB,AM,Mozilla/5.0 (compatible; MSIE 8.0; Windows CE;...,Russell PLC,4716539058450,25,2805,JCB 16 digit,bradshaw-skinner.com,Podiatrist,88.110.181.120,zh,84.09
9963,"3865 Davis Meadow Suite 915\nPort Stacieview, ...",11 fo,AM,Mozilla/5.0 (iPod; U; CPU iPhone OS 3_3 like M...,"Brown, Gentry and White",4295151255424068,25,764,JCB 15 digit,gmail.com,Surgeon,171.24.198.172,en,58.17
9993,"7555 Larson Locks Suite 229\nEllisburgh, MA 34...",72 jg,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_8...,Colon and Sons,30025560104631,25,629,Maestro,lopez.biz,"Designer, exhibition/display",177.46.82.128,el,65.61
9994,"6276 Rojas Hollow\nLake Louis, WY 56410-7837",93 Ex,PM,Opera/9.68.(X11; Linux x86_64; sl-SI) Presto/2...,Ritter-Smith,3112186784121077,25,1823,Maestro,gmail.com,"Education officer, museum",242.44.112.18,zh,31.85
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,25,207,JCB 16 digit,hotmail.com,Energy engineer,121.133.168.51,pt,25.63

**Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...)**

In [87]:
#write your code here

In [88]:
df['Email'] = df['Email'].apply(lambda x:str(x).split('@') if '@' in str(x) else str(x))
df['Email'] = df['Email'].apply(lambda x:str(x[1]))

In [89]:
df['Email'].value_counts().head()

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64